body
{
	background-color: #D3D3D3;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif"
}

/* Header */
#header 
{
	width: 1024px;
	margin: 0px, auto, auto, auto;
}

.navigation
{
	
}

.navigation ul
{
	list-style-type: none;
}

.navigation li
{
	display: inline;
	margin: 0;
	padding-right: 10px;
}

.navigation a:link
{
	color: #00ffff;
	text-decoration-line: none;
}

.navigation a:hover
{
	color: #0000ff;
	text-decoration-line: none;
}

.navigation a:visited
{
	color: #009999;
	text-decoration: none;
}

.img-cont table tr
{
	background-color: #FFF;
}

.img-cont table, th, td
{
	border-collapse: collapse;	
}

.img-cont table tr th
{
	border: 1px solid #000;
}

.img-cont table tr td
{
	border: 1px solid #000;
}

.img-cont table tr td p
{
	padding: 0px 5px 0px 5px;	
}

#DROP
{
	width: 200px;
	height: 67px;
	padding: 5px;
	background-color: #FFF;
	border: 1px solid #000;
}