*
{
	margin: 0;
	padding: 0;	
}

body
{
	width: 1024px;
	
	margin: 0px auto 0px auto;
	
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif"
}

.navigation
{
	text-align: center;
	
	border-radius: 5px;
	
	background-color: #FFFFFF;
	border: 1px solid #000000;
}

.navigation li
{
	display: inline-block;
	margin: 5px 10px;
	
	text-align: center;
}

.navigation a
{
	font-size: 24px;
}

.navigation a:link
{
	color: #8080ff;
	text-decoration-line: none;
}

.navigation a:hover
{
	color: #4d4dff;
	text-decoration-line: underline;
}

.navigation a:visited
{
	color: #e6e6ff;
	text-decoration-line: none;
}

.main-cont
{
	position: relative;
	
	width: 1024px;
	
	padding: 10px 0px 50px 10px;
	
	background-color: #f2f2f2;
}

.main-cont h1
{
	text-align: center;
	
	padding: 0px 0px 20px 0px;
	
	color: #000000;
	text-decoration-line: underline;
}

.main-cont p
{
	text-align: center;
}

.img-cont
{
	margin: 50px 0 0 0;
}

.img-cont table
{
	margin: 0 auto 0 auto;
}

.img-cont table tr
{
	background-color: #FFF;
}

.img-cont table, th, td
{
	border-collapse: collapse;	
}

.img-cont table tr th
{
	border: 1px solid #000;
	
	height: 50px;
}

.img-cont table tr td
{
	
	border: 1px solid #000;
	
	height: 225px;
	width: 225px;
	
	text-align: center;
}

.img-cont table tr td p
{
	padding: 0px 5px 0px 5px;	
}

.video-cont
{
	width: 560px;
	margin: 50px auto 0;
}

.video-cont h2
{
	margin-left: 20px;
	margin-bottom: 10px;
	
	text-decoration-line: underline;
}

.map-cont
{
	width: 600px;
	margin: 50px auto 0;
	text-align: center;
}

#map
{
	width: 400px;
	height: 400px;
	margin: 10px auto 0px;
}

.drag-cont
{
	height: 250px;
	margin: 50px auto 0;
	text-align: center;
}

#DROP
{
	width: 200px;
	height: 67px;
	padding: 5px;
	background-color: #FFF;
	border: 1px solid #000;
	margin: 20px auto 0px;
}

.contact
{
	margin: 50px auto 0;
}

#contact-msg
{
	margin-bottom: 25px;
}

#contact-form
{
	width: 350px;
	margin: 0 auto;
}